# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.swp

# ts-node / ts-node-dev
*.tsbuildinfo

# pnpm store
.pnpm-store/

# Optional cache dirs
.cache/
